<% if current_user.role == "care_manager" %>
	<h1>Care Manager Dashboard</h1>
<% else %>
	<h1>Your Messages</h1>
<% end %>

<% if current_user.role == "patient" %>
	<h2>Inbox</h2>
	<% if @patient_conversation.present? %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to "Your Care Conversation", conversation_messages_path(@patient_conversation)%>
				<% if @patient_conversation.messages.present? %>
					<% if @patient_conversation.messages.last.user_id != current_user.id %>
						<% if @patient_conversation.messages.unread.count > 0 %>
							<strong>(<%= @patient_conversation.messages.unread.count %> unread)</strong>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>

<% if current_user.role == "care_manager" %>
	<h2>All Patients</h2>
	<% @patients.each do |patient| %>
		<% conversation = Conversation.for_patient(patient) %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to patient.full_name, conversation_messages_path(conversation) %>
				<% if conversation.messages.present? %>
					<% if conversation.messages.last.user_id != current_user.id %>
						<% if conversation.messages.last.user.role == "patient" %>
							<% if conversation.messages.unread.count > 0 %>
								<strong>(<%= conversation.messages.unread.count %> unread)</strong>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>
